<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<h2>Visitors</h2>
<h3>Enter you name:</h3>


<form action="/visitor" method="post"><!--@PostMapping("/visitor")-->

  Visitor Name:   <input name="visitorName"/> <br/>
    <input type="submit" value="Submit">
</form>

<br>
<h3>Visitors</h3>
    <p th:each="visitor : ${customers}">
        <span th:text="${customers}"></span>
    </p>
</body>
</html>